.component {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  background-color: #fbfbfb;
  padding: 35px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  min-height: 60px;
  border-radius: 5px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.data {
  color: #282d30;
  font-size: 20px;
  font-weight: 700;
  margin: 0;
}

.dataName {
  color: #74798c;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}
