.component {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 258px;
  min-height: 263px;
  border-radius: 5px;
  background: #282d30;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  width: auto;
  height: auto;
  flex-shrink: 0;

  & :global(.recharts-polar-grid-angle) {
    display: none;
  }
}
