.component {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background: #282d30;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.02);
  flex-basis: 33%;
  box-sizing: border-box;
  width: 258px;
  height: 263px;

  & :global(.recharts-polar-grid-angle) {
    display: none;
  }
}

//States CSS

.loading,
.error {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

.errorDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:60px;

  & p {
    color: #fff;
    opacity: 0.7;
  }
}