.component {
  width: 100%;
  background-color: #fbfbfb;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.title {
  color: #20253a;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
}

.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 32px;
  list-style-type: none;

  & .legendText {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #74798c;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

    & .markerPds {
      background-color: #282d30;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }

    & .markerCal {
      background-color: #e60000;
      height: 8px;
      width: 8px;
      border-radius: 50%;
    }
  }
}
.legendText {
  color: #74798c;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
}

.customTooltip {
  display: flex;
  background-color: #e60000;
  width: 39px;
  height: 63px;
}

.tooltipItemList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  list-style: none;

  & .tooltipItem {
    color: #fff;
    font-size: 7px;
    font-style: normal;
    font-weight: 500;
  }
}
