.component {
  width: 258px;
  height: 263px;
  border-radius: 5px;
  background: #f00;
  padding: 0 15px;
  box-sizing: border-box;
}

.lineContainer {
  margin: auto;
}

.lineChart {
  opacity: 0.5;
}

.title {
  width:147px;
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.5;
  margin: 30px 40px -30px;
}


.customTooltip {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 39px;
  height: 25px;
  background-color: #ffffff;

  & .tooltipItem {
    color: #000;
    font-size: 8px;
    font-style: normal;
    font-weight: 500;
  }
}

.xAxis text {
  fill: #fff;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  opacity: 0.5;
}

//States CSS

.loading,
.error {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
  margin: auto;
}

.errorDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:60px;
  gap:10px;

  & p {
    color: #fff;
    opacity: 0.7;
  }
}