.component {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
  padding-left: 50px;
  padding-right: 50px;
}

.infoUser {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  margin: 0;

  & .name {
    color: #ff0101;
  }

  & .nameError {
    color: #ff0101;
    font-size: 18px;
  }
}

.errorDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.result {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 77px;
  gap: 30px;
}

.graphContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 30px;
}

.graphs {
  display: flex;
  justify-content: flex-start;
  gap: 30px;
  width: 100%;
}

.summary {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  gap:40px;
}


