.component {
  display: flex;
  flex-direction: column;
  margin: 60px auto;
}

.infoUser {
  display: flex;
  flex-direction: column;
  gap: 41px;
}

.title {
  font-size: 48px;
  font-style: normal;
  font-weight: 500;
  margin: 0;

  & .name {
    color: #ff0101;
  }
}

.result {
  margin: 0;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}

.dashboard {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin-top: 77px;
}

.graphContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  align-items: space-between;
}

.graphs {
  display: flex;
  gap: 30px;
  width: 100%;
}

.summary {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
