.component {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 150px;
  min-height: 91px;
  background: #020203;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding-right: 91px;
  padding-left: 30px;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 178px;

  & .logoImg {
    height: 57px;
    width: auto;
  }

  & .logoText {
    height: 24px;
    width: auto;
  }
}

.navbar {
  display: flex;
  justify-content: space-between;
  width: 100%;
  & .link {
    color: #fff;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
  }
}
