:root {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
}

a {
  text-decoration: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
}
